{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/authentication/css/main.css') }}" type="text/css" media="all">
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-inner">
            <div class="container-fluid min-height50">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle invisible" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"><?= Yii::t('messages', "Переключить навигацию"); ?></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand main-logo" href="#"><img src="{{ asset('images/logo.png') }}" alt="Oauth server" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <div class="navbar-right height50 align-middle">
                        <div style="padding-top: 23px;color: gray;">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {{ app.user.FIO }}
                                (<a href="{{ logout_url('authentication') }}">Выйти</a>)
                            {% endif %}
                        </div>
                    </div>
                    {{ sonata_block_render({ 'type': 'app.block.support_info' }) }}
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}

    {% endblock %}

    <div class="container-full" id="page">
        <div class="row">
            <div class="col-sm-4">
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="data-block col-sm-12 clearfix bordered">
            {% else %}
            <div class="data-block col-sm-4 clearfix bordered">
            {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="" style="margin-top: 10px" role="footer">
        {% else %}
        <div class="navbar col-md-offset-4" style="margin-top: 10px" role="footer">
        {% endif %}
            Copyright &copy; <?= date('Y') ?> by <span class="green">D</span>ICOM Consulting.<br/>
            All Rights Reserved.<br/>

        </div>
        <!-- footer -->
    </div>

{% endblock %}
