.navbar-brand img {
    height: 100%;
}

.main-logo {
    padding-top:0;
    margin-top:14px;
}

.support-info {
    margin-right:20px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:90%;
    color:#f6f6f6;
}