body {
    background: none repeat scroll 0 0 #f6f6f6;
    color: #555555;
    direction: ltr;
    font-family: "Roboto Condensed",sans-serif;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin: 15px 0;
}

.clear {
    clear: both;
}

.navbar-inverse .navbar-inner {
    background: none repeat scroll 0 0 #303030;
    border-bottom: 2px solid #15a99d;
}

.container-full {
    margin: 0 auto;
    width: 95%;
}

.data-block {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e3e3e3;
    margin-left: 0;
    padding: 20px;
}

.btn.btn-primary {
    background: none repeat scroll 0 0 #009999;
    border-radius: 0;
    color: #ffffff;
    text-transform: uppercase;
}