{% extends '::layout.html.twig' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="form">
    <h2 class="offset1">
       Авторизация
    </h2>

    {% if error %}
        <div class="has-error">{{ error.message|trans }}</div>
    {% endif %}

    <form action="{{ path("login_check") }}" method="post" id="login">
        <div class="form-group {% if error %} has-error {% endif %}">
            <input type="text" id="username" class="form-control" placeholder="Логин" name="_username" value="{{ last_username }}" />
        </div>

        <div class="form-group">
            <input type="password" placeholder="Пароль" class="form-control" id="password" name="_password" />
        </div>

        <div  class="form-group">
            <a href="{{ path('fos_user_resetting_request') }}">{% trans %}Forgot password?{% endtrans %}</a>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button name="yt0" type="submit" onclick="" class="col-md-6 btn btn-primary">Вход</button>
            </div>
        </div>

    </form>

{% endblock %}